RewriteEngine On

# Jika file atau folder tidak ada
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Tangkap token setelah /login/
RewriteRule ^([A-Za-z0-9]+)$ index.php?code=$1 [L,QSA]
